<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration or Sign Up form in HTML CSS</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="isolate bg-white px-6 py-24 sm:py-32 lg:px-8">
        <div class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]" aria-hidden="true">
          <div class="relative left-1/2 -z-10 aspect-[1155/678] w-[36.125rem] max-w-none -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-40rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
        </div>
        <div class="mx-auto max-w-2xl text-center">
          <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Currently Registration Not Available</h2>



          <a href="/home" class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl" style="color:blue;"  >Stay Back</a>    
    <!-- <div class="wrapper">
        <h2>Registration</h2>
        <form action="/register" method="POST">
            <div class="input-box">
                <input type="text" placeholder="Enter your name" name="username" required>
            </div>
            <div class="input-box">
                <input type="email" placeholder="Enter your email" name="email" required>
            </div>
            <div class="input-box">
                <input type="text" placeholder="Enter your phone number" name="phone_number" required>
            </div>
            <div class="input-box">
                <input type="password" placeholder="Create password" name="password" id="password" required>
                <p id="password-strength"></p>
            </div>
            
       
            <div class="policy">
                <input type="checkbox">
                <a href="terms.html">I accept all terms & condition</a>

              </div>
            <div class="input-box button">
                <input type="Submit" value="Register Now">
            </div>
            <div class="text">
                <h3>Already have an account? <a href="/login">Login now</a></h3>
            </div>
        </form>
    </div>
</body>
</html>
